<div class="navbar-wagon">
<!-- Logo -->
  <a href="/cocktails" class="navbar-wagon-brand">Cocktails</a>
<!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  </div>
</div>
