<div class="navbar-wagon">
<!-- Logo -->
  <a href="/" class="navbar-wagon-brand"><i class="fa fa-glass-martini"></i> Cocktails</a>
<!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  </div>
</div>
