// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


body {
  font-family:"Raleway" !important;
}

.container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  h1 {
      text-align:center;
  }
}

.card {
  border:none !important;
  background-color: rgba(255,255,255, 0.6);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.banner {
  // color: white;
  text-align: center;
  height:100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('bg.jpg');
}
.banner h1 {
  color:white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.banner p {
  font-size: 25px;
  // font-weight: lighter;
  opacity: 0.7;
  margin-bottom: 30px;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.banner-content {
  border-radius:1px;
  background-color: rgba(255,255,255, 0.1);
  padding:20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.banner-content:hover {

}

#logo {
  background-image:url('https://d85wutc1n854v.cloudfront.net/live/products/600x375/WB0N1877L.png?v=1.0');
  background-repeat: no-repeat;
  background-size:center;
}
